.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f2937;
  color: white;

  .logo a {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #38bdf8;
        }
      }

      cursor: pointer;
    }
  }
}