<!-- src/app/home/home.component.html -->
<div *ngIf="!isLoggedIn(); else loggedInContent">
  <div class="hero">
    <h1>Welcome to DevConnect</h1>
    <p>Connect. Share. Grow. All in one place.</p>
  </div>

  <div class="features">
    <div class="feature-card" *ngFor="let feature of features">
      <img [src]="feature.image" [alt]="feature.title" />
      <h3>{{ feature.title }}</h3>
      <p>{{ feature.description }}</p>
    </div>
  </div>
</div>

<ng-template #loggedInContent>
  <div class="home">
    <app-post-feed></app-post-feed>
  </div>
</ng-template>