.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  padding: 1rem;
  color: white;
  position: fixed;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0;
      cursor: pointer;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}